/**
 * $Id$
 * @file
 * CSS for advanced image module, for it's forms, etc.
 * (c) Ilya V. Azarov, 2011. Advanced image gallery module
 */
div#advimage-edit-gallery-ingallery, div#advimage-edit-gallery-otherimages{
display:block;clear:both;width:100%;padding: 0 0 0 0; margin: 0 0 0 0;overflow:auto;height:250px;}
div#advimage-edit-gallery-otherimages-int{
display:block;clear:both;width:100%;padding: 0 0 0 0; margin: 0 0 0 0;overflow:hidden}
div#advimage-edit-gallery-otherimages-more{
display:block;clear:both;width:100%;margin: 0 0 0 0;overflow:auto;text-align:center;
padding-top:10px;padding-bottom:10px;padding-left:0;padding-right:0;}
div#advimage-edit-gallery-otherimages-more input.form-submit{width:80%;}
#advimage-edit-gallery-form div.advimage-edit-gallery-image{
clear:both;float:left;width:100%;clear:both;overflow:hidden;padding-top:3px;padding-bottom:3px;}
#advimage-edit-gallery-form div.noimages{text-align:center;clear:both;display:block;
padding:10px 10px 10px 10px;color:#DA1A20;font-size:1.4em;}
#advimage-edit-gallery-form div.advimage-edit-gallery-image-preview{float:left;width:60%;overflow:hidden;}
#advimage-edit-gallery-form div.advimage-edit-gallery-image-preview div.advimage-edit-gallery-image-preview-image{
float:left;width:120px;text-align:center;background-color:#3B3B44;}
#advimage-edit-gallery-form div.advimage-edit-gallery-image-preview-image img{margin-right:1.2em;margin-bottom:0;display:inline;vertical-align:middle;}
#advimage-edit-gallery-form div.advimage-edit-gallery-image-preview h3{margin-left:120px;}
#advimage-edit-gallery-form div.advimage-edit-gallery-image:hover,
#advimage-edit-gallery-form div.advimage-edit-gallery-image.ui-sortable-helper{
background-color:#A9A9CD!important;}
#advimage-edit-gallery-form div.advimage-edit-gallery-image-controls{width:30%;float:right;overflow:hidden;}
#advimage-edit-gallery-form div.advimage-edit-gallery-image-controls 
ul.advimage-edit-gallery-image-controls-list{list-style-type:none;}
#advimage-edit-gallery-form div.advimage-edit-gallery-image-controls 
ul.advimage-edit-gallery-image-controls-list li a:link{background-color:#B7B7C4;float:right;padding:4px;}
#advimage-edit-gallery-form div.advimage-edit-gallery-image-controls 
ul.advimage-edit-gallery-image-controls-list li a:hover{background-color:#E5E5E5;color:#111111;}
/* this css will be JS operable */
#advimage-edit-gallery-form div#advgallery-savepoint{background-color:#EE989B;display:none;}
form#advimage-edit-gallery-form{display:none;}
#advimage-edit-gallery-form-nojavascript-warning{text-align:center;clear:both;display:block;
padding:10px 10px 10px 10px;color:#DA1A20;font-size:1.4em;}
div#advimage-edit-gallery-form-nojavascript-warning.nopadding{padding: 0 0 0 0;}
div#advimage-edit-gallery-form-node-saved{text-align:center;clear:both;display:block;
padding:4px 4px 4px 4px 4px;color:#000000;background-color:#8888AA;}
#advimage-edit-gallery-form  div#edit-addbyurlimage-wrapper{float:left;}
#advimage-edit-gallery-form #addbyurlbutton-div{float:left;}
/* node edit form - we do hide all items there */
#node-form div#field-advgallery-items{display:none;}
/* images view pages */
div.advimage-image-notfound{text-align:center;clear:both;display:block;
padding:10px 10px 10px 10px;color:#DA1A20;font-size:1.4em;}
.node-inner .content table.advimage-thumbnails{border:none;width:95%;border-collapse:separate;}
.node-inner .content table.advimage-thumbnails td{
border-left: 10px solid transparent;border-right: 10px solid transparent;
border-top:none;border-bottom:none;text-align:center;vertical-align:middle;width:33%;overflow:hidden;}
.node-inner .content table.advimage-thumbnails tr.advimage-thumbnails-titles td{
border-bottom: 20px solid transparent;vertical-align:top;word-wrap:break-word;overflow:hidden;}
.node-inner .content table.advimage-thumbnails tr.advimage-thumbnails-titles td span{
width:12em;display:inline-block;overflow:hidden;
}
table.advimage-image-view{margin-left:auto;margin-right:auto;clear:both;border:none;}
table.advimage-image-view td{border:none;vertical-align:middle;text-align:center;}
table.advimage-image-view td.navlink.left{padding-right:1em;}
table.advimage-image-view td.navlink.right{padding-left:1em;}
table.advimage-image-view td.navlink span.navlink{font-weight:bolder;font-size:2.5em;color:#2E1B1B;}
table.advimage-image-view td.navlink span.navlink a:link,
table.advimage-image-view td.navlink span.navlink a:visited,
table.advimage-image-view td.navlink span.navlink a:focus
{text-decoration:none;padding:2px 2px 2px 2px;border:2px outset #767676;}
table.advimage-image-view td.navlink span.navlink a:active{border:2px inset #767676;}
table.advimage-image-view td.navlink span.navlink.disabled{
color:#AFABAB;padding:2px 2px 2px 2px;border:2px outset #C2C2C2;}
table.advimage-gallery-view-mini-list{margin-left:auto;margin-right:auto;clear:both;border:none;}
table.advimage-gallery-view-mini-list td{border:none;vertical-align:middle;padding-left:0.5em;padding-right:0.5em;vertical-align:middle;text-align:center;}
table.advimage-gallery-view-mini-list td.advimage-gallery-view-mini-td img{
padding:5px 5px 5px 5px;}
table.advimage-gallery-view-mini-list td.advimage-gallery-view-mini-td.current img{border: 1px solid #595B04;}
h2.advimage-image-view.title{text-align:center;}
