/*
 * @file 
 * Module: advimage_og
 * CSS for mas opengroups editing pages
 * (c) Ilya V. Azarov, brainstorm@brainstorm.name, 2011
 */
div#advimage-og-edit-gallery-no-js-warning{
clear:both;color:#DA1A20;display:block;font-size:1.4em;padding:10px;text-align:center;}
div#advimage-og-edit-gallery-form-messages{background-color:#A9A9CD!important;clear:both;padding: 1em 1em 1em 1em;display:none;}
#advimage-og-edit-gallery-form-messages div.saving-info{
background: url('saving.gif') no-repeat 0 50% transparent;padding-top:10px;padding-bottom:10px;padding-left:50px;}
div#advimage-og-edit-gallery{display:none;clear:both;overflow:hidden;}
#advimage-og-edit-gallery h2.title{clear:both;}
div#advimage-og-edit-gallery div#advgallery-savepoint{background-color:#EE989B;display:none;
float:left;width:100%;padding:0 0 0 0;overflow:hidden;clear:both;}
div#advimage-og-edit-gallery div#advgallery-savepoint fieldset{margin: 0 0 0 0;}
div#advimage-og-edit-gallery div#main-gallery-settings-form{
float:left;width:100%;padding:0 0 0 0;overflow:hidden;border-bottom:4px solid #CCCCCC;}
#main-gallery-settings-form div.advimage-og-prepare-node-fieldset{
float:right;width:50%;overflow:hidden;padding:0 0 0 0;}
#main-gallery-settings-form div.advimage-og-distribute-rights-buttons{
float:left;width:40%;overflow:hidden;padding:1.5em 0 0 0;}
#main-gallery-settings-form div.advimage-og-distribute-rights-buttons input.form-submit{
clear:both;margin-bottom:0.5em;width:20em;}
div#advimage-og-edit-gallery div#advimage-og-edit-gallery-ingallery,
div#advimage-og-edit-gallery div#advimage-og-edit-gallery-save-block{
float:left;width:100%;padding:0 0 0 0;overflow:hidden;clear:both;}
div#advimage-og-edit-gallery-ingallery div.advimage-og-edit-gallery-image{
float:left;width:100%;padding:0.5em 0 0 0;overflow:hidden;clear:both;border-bottom: 1px solid #CCCCCC;}
div#advimage-og-edit-gallery-ingallery div.advimage-edit-gallery-image-preview{
float:left;width:40%;padding: 0 0 0 0;margin: 2em 0 0 0;}
div#advimage-og-edit-gallery-ingallery div.advimage-og-edit-gallery-image-fieldset{
float:right;width:50%;padding: 0 0 0 0;margin: 0 0 0 0;}
